<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta property="og:title" content="<%= title %>" />

    <meta property="og:url" content="<%= url %>" />

    <% if (typeof description != 'undefined') { %>
    <meta property="og:description" content="<%= description %>" />
    <meta name="description" content="<%= description %>" />
    <%}%> <% if (typeof imageUrl != 'undefined') { %>
    <meta property="og:image" content="<%= imageUrl %>" />
    <meta name="twitter:image" content="<%= imageUrl %>" />
    <%}%>

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="<%= twitterCardType %>" />
    <meta name="twitter:site" content="<%= twitterHandle %>" />
    <meta name="twitter:creator" content="<%= twitterHandle %>" />
    <meta name="twitter:domain" content="<%= domain %>" />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
</html>
